@import "../../styles/base/vars";

.search-form {
  max-width: 344px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 8px 8px 8px 20px;

  border: 0.86px solid rgba(255, 255, 255, 0.6);
  border-radius: 42px;
  backdrop-filter: blur(4px);
  background: rgba(255, 255, 255, 0.15);
  &__input {
    height: 56px;
    font-weight: 500;
    width: 90%;
    font-size: 18px;
    color: var(--headerTextColor);
    &::placeholder {
      font-size: 18px;
      font-weight: 400;
      line-height: 150%;
      color: var(--headerTextColor);
      opacity: 0.8;
    }
  }
  &__btn {
    padding: 11px;
    background-color: var(--ui-accent);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    // display: flex;
    // justify-content: center;
    // align-items: center;
  }
}
