:root {
  --text-color: #1e1e1e;
  --text-mutet: #8d8d8d;
  --text-dark-blue: #0d1b39;

  --ui-accent: #e58411;
  --ui-biruza: #00d6c9;
  --ui-gray: #7c7c7c;
  --ui-dark-blue: #0d1b39;

  --footer-bg: #2d2f33;

  --headerTextColor: #fff;
  --footerTextColor: #fff;

  --font-main: "Poppins", sans-serif;
  --font-card: "Inter", sans-serif;
  --font-footer-accent: "DM Sans", sans-serif;
}

// font-family: "DM Sans", sans-serif;
// font-family: "Inter", sans-serif;
// font-family: "Poppins", sans-serif;

body {
  color: var(--textColor);
}
